<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dane użytkownika:</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="wrapper">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="content">
        <!--/*/ <th:block th:include="fragments/content :: content"></th:block> /*/-->

    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>