<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nowy użytkownik</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

    <div class="wrapper">
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

        <div id="content">
            <!--/*/ <th:block th:include="fragments/content :: content"></th:block> /*/-->
            <div >
                <h1 th:text="#{label.form.title}">form</h1>
                <br/>
                <form action="#" th:action="@{/user}" th:object="${userDTO}" method="post" >
                    <div class="form-group row" >
                        <!--<label class="col-sm-3" th:text="#{label.user.firstName}">imię</label>-->
                        <label class="col-sm-3">Imię</label>
                        <span class="col-sm-5">
                            <input type="text" class="form-control" th:field="*{firstName}"/>
                        </span>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" th:text="#{label.user.lastName}">nazwisko</label>
                        <span class="col-sm-5">
                            <input class="form-control" type="text" th:field="*{lastName}"/>
                        </span>
                        <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" th:text="#{label.user.email}">email</label>
                        <span class="col-sm-5"><input type="email" class="form-control" name="email" value="" required="required"/></span>
                        <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" th:text="#{label.user.login}">login</label>
                        <span class="col-sm-5"><input class="form-control" name="login" value="" required="required"/></span>
                        <span id="loginError" class="alert alert-danger col-sm-4" style="display:none"></span>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" th:text="#{label.user.password}">password</label>
                        <span class="col-sm-5"><input id="password" class="form-control" name="password" value="" type="password" required="required"/></span>
                        <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" th:text="#{label.user.confirmPass}">confirm</label>
                        <span class="col-sm-5"><input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" required="required"/></span>
                        <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
                </form>
                <br/>
                <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
            </div>
        </div>
    </div>

    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>